.welcomeBoardContainer{
  display: grid;
  grid-template-rows: 30px 30px 250px;
  row-gap: 90px;
  justify-items: center;
  align-items: center;
}

.tableHeader{
  display: grid;
  grid-template-columns:  50px 120px 180px 50px;
  border: 1px solid #eee;
  background-color: darkgray;
  color:azure;
  column-gap:1px;
  
  padding: 5px;
}
.tableBody{
  display: grid;
  grid-template-columns: 50px 120px 180px 50px;
  border: 1px solid #eee;
  column-gap:1px;
  padding: 5px;
}



.welcomeBoardContainer button {
  background-color: #FFC143;
  border: 1px solid #FFC143;
  color: white; 
  padding: 20px;
  width: fit-content;
  margin-left: 20px;
}

