@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Indie Flower", cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: #00b4ff;
  color: #333;
  background-image: url(./../images/bg.svg);
  background-size: cover;
}
html {
  font-size: 72.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
label {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.imageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.hidden{
  display: hidden;
}
.visible{
  visibility: visible;
}

.boardContainer{
  background-color: #EBF6F8;
  border-radius: 5px;
  padding: 20px;
  min-height: 550px;
  opacity: 0.9;
  min-width: 500px;
  color: #333;
}

button{
  border: 1px solid rgb(119, 199, 110);
  background: #60af56;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 30px;
  margin-top: 10%;
  cursor: pointer;
  font-family: "Indie Flower", cursive, -apple-system;
  text-transform: uppercase;
  transform: scale(1);
  transition: all 0.2s ease 0s;
}
button:hover{
  transform: scale(1.1);
}