
.welcomeBoardContainer{
  display: grid;
  grid-template-rows: 30px 30px 250px;
  row-gap: 90px;
  justify-items: center;
  align-items: center;
}

.welcomeBoardContainer input{
  height: 40px;
  width: 200px;
  border: 1px solid snow;
  padding-left: 20px ;
  margin-left: 25px;
  font-family: "Indie Flower";
  font-size: 2rem;
  color: #333;
}
.welcomeBoardContainer input[type=text]:focus{
  outline: 1px solid burlywood;
}
.welcomeBoardContainer button{
  background-color: azure;
  border: 1px solid hsl(50, 70%, 81%);
  padding: 20px;
  width: 200px;
}


.welcomeBoardContainer button{
  border:  1px solid #60af56;
  background-color:#60af56;
}

.playerName {
  font-family: "Indie Flower";
  font-size: 2.5rem;
  color: #333;
}